@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Syne+Mono&display=swap');

@import './_img.css'
@import './_about.css'
@import './_hero.css'
@import "./_portfolio.css"


:root{
    --fs-1: '' 
}

.main-bg{
    background-color: black;
}

.navbar a:visited {
    color: rgb(0, 255, 68);
    }

.navbar-toggler a:hover{
    color: rgb(179, 53, 118);
}

.hero-container{
    background-image: url(https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2020/02/programming-code-window-GettyImages-1124838925_640-920x632.jpg);

    height: 100vh;
    width: 100vw;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title{
    font-family: orbitron;
    /* font-size: large; */
    font-weight: 500;
    color: white;
    font-size: 40px;

 
}

.creator-name{
    font-family: syne mono;
}




.about-img{
    padding: 25px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
 
    text-align: center;
    font-family: syne mono;

}

.port-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Orbitron;
    padding: 25px;
}

.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
 margin: 50px;
 display: flex;
 /* justify-content: center;
 align-items: center;    */
 flex-wrap: wrap;
 justify-content: space-between;
}

/* @media (max-width: 768px) {
    .portfolio .card {
        justify-content: center;
     
    } */

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}


.m-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-buttons{
    color: rgb(11, 143, 204);
    /* font-size: 70px; */
    
    
}